<div>
    <form style="margin-top: 20vh;" class="loginForm">
        <p style="text-align: center; font-weight: bold; font-size: 200%;">כניסה לחשבון</p>
        <p style="color:red; font-weight: bold; text-align: center;">גירסת דמו. ניתן להיכנס עם דוא"ל
            a@a.com וסיסמה 123456, או ליצור חשבון חדש</p>
        <div>
            <input style="width: 100%;" type="text" placeholder='דואר אלקטרוני' #email>
        </div>
        <div style="margin-top: 2vh;">
            <input style="width: 100%;" type="password" placeholder='סיסמה' #password>
        </div>
        <p style="color: red; font-weight: bold;">{{waring}}</p>
        <div style="text-align: center;">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="login(email.value,password.value)">כניסה</button>
        </div>
        <p style="color: blue; cursor: pointer; font-weight: bold; text-align: center;"
            [routerLink]="['/create-account']">צור חשבון חדש</p>
    </form>
</div>